<div class="cardsContainer">
    
{{#each newProductList}}
    <div class="card">
        <img src="{{this.thumbnail}}" alt="imagen">
        <div>
            <ul>
                <li class="title">{{this.title}}</li>
                <li class="description">{{this.description}}</li>
                <li class="price">Precio:${{this.price}}</li>
                <li class="stock">Stock:{{this.stock}}</li>
                <li class="code">Código:{{this.code}}</li>
            </ul>
        </div>

    </div>
{{/each}}
</div>